@font-face {
  font-family: "DinkieBitmap";
  src: url(../fonts/DinkieBitmap.ttf);
}
:root {
  --clr-primary: #cfbaff;
  --clr-secondary: #a38fd2;
  --clr-tertiary: #7967a6;

  --clr-font-1: #5a0eb6;

  --clr-white: #fff;
  --clr-red: #f00;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "DinkieBitmap", sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
img {
  max-width: 100%;
  display: block;
}
