body {
  background-color: var(--clr-tertiary);
}
.container {
  max-width: 80%;
  margin: 0 auto;
  height: 95vh;
  background-color: var(--clr-secondary);
  padding: 3rem;
}
.main-page__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 17%;
  height: 40%;
  column-gap: 1.5rem;
  row-gap: 1rem;
}
.app-container {
  cursor: pointer;
}

.app-name {
  font-size: 1.8rem;
  text-align: center;
}
.footer {
  max-width: 80%;
  margin: 0 auto;
  height: 5vh;
  background-color: var(--clr-primary);
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-top: 2px solid var(--clr-white);
  justify-content: space-between;
}

.start-box {
  display: flex;
  background-color: var(--clr-secondary);
  cursor: pointer;
  padding: 0 1rem;
  border-top: 2px solid var(--clr-white);
  border-left: 2px solid var(--clr-white);
  border-bottom: 3px solid var(--clr-tertiary);
  border-right: 3px solid var(--clr-tertiary);
}
.start-img,
.calendar-icon {
  height: 3rem;
  width: 3rem;
}
.box-name {
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 2rem;
}
.date-box {
  display: flex;
  background-color: var(--clr-secondary);
  cursor: pointer;
  padding: 0 0.5rem;
  border-bottom: 2px solid var(--clr-white);
  border-right: 2px solid var(--clr-white);
  border-top: 3px solid var(--clr-tertiary);
  border-left: 3px solid var(--clr-tertiary);
}
